In [2]:
pip install us

Requirement already satisfied: us in /Users/cotragesser/opt/anaconda3/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: jellyfish==0.6.1 in /Users/cotragesser/opt/anaconda3/lib/python3.8/site-packages (from us) (0.6.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import us as us

In [4]:
raw = pd.read_csv('data/cps_00001.csv')

Only include 2018-2020 ASEC, then monthly data for 2020. Need year and month, hourwage, state and county (need that), diffany (disability), citizenship, spm_family_unit, spm resources, spm pov threshold

In [5]:
raw

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,HOURWAGE
0,2009,1,3,NaN,20071202814500,1.0,NaN,534.34,1,NaN,20071202814501,534.34,999.99
1,2009,1,3,NaN,20071202814500,1.0,NaN,534.34,2,NaN,20071202814502,534.34,999.99
2,2009,2,3,NaN,20071202885100,1.0,NaN,546.24,1,NaN,20071202885101,546.24,12.40
3,2009,2,3,NaN,20071202885100,1.0,NaN,546.24,2,NaN,20071202885102,546.24,999.99
4,2009,3,3,NaN,20071202862500,1.0,NaN,287.76,1,NaN,20071202862501,287.76,999.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644261,2020,68927,12,438.2519,20201106884600,NaN,NaN,NaN,2,438.2519,20201106884602,NaN,999.99
3644262,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,1,334.2817,20191207029101,NaN,999.99
3644263,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,2,346.6430,20191207029102,NaN,999.99
3644264,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,3,212.0589,20191207029103,NaN,999.99
3644265,2020,68931,12,334.2817,20191207029100,NaN,NaN,NaN,4,310.3260,20191207029104,NaN,999.99